/*general*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

:root {
    --clr_primary: #0290ef;
    --clr_thertiarry: #004573;
    --clr_secondary: #50f545;
    --clr_neutral900: hsl(0, 0%, 10%);
    --clr_neutral800: hsl(0, 0%, 20%);
    --clr_neutral700: hsl(0, 0%, 30%);
    --clr_neutral600: hsl(0, 0%, 40%);
    --clr_neutral500: hsl(0, 0%, 50%);
    --clr_neutral400: hsl(0, 0%, 60%);
    --clr_neutral300: hsl(0, 0%, 70%);
    --clr_neutral200: hsl(0, 0%, 80%);
    --clr_neutral100: hsl(0, 0%, 90%);
}

html {
    min-height: 100vh;
    font-family: "roboto", SansSerif;
    background: var(--clr_neutral800);

}

main {
    position: relative;
    min-height: 60vh;
}

body {
    min-height: 100vh;
}


i {
    margin: 0.2rem;
    font-size: 2rem;
}

.fa-whatsapp {
    margin: 0.2rem;
    font-size: 2rem
}

i:hover {
    cursor: pointer;
}

h2:first-child {
    padding: 2rem 1rem 0.5rem 1rem;
}

h2 {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

p {
    line-height: 1.4rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    max-width: 80vw;
}

p:last-child {
    padding: 0.5rem 1rem 2rem 1rem;
}


a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

li {
    padding: 0 0.5rem;
    text-decoration: none;
}


.logo {
    padding-right: 10px;
    width: 3.5rem;
}


/*header*/

.header_nav {
}

.topbar {
    position: relative;
    background: var(--clr_neutral800);
    height: 10px;
    width: 100vw;
    z-index: 4;
}

.section_nav {
    position: relative;
    background-color: var(--clr_neutral700);
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.container_nav_item {
    margin-left: 2rem;
}

.container_nav_item:last-of-type {
    margin: 0 3.5rem 0 auto;
}

.fa-bars {
    color: var(--clr_primary);
}

.titleHeader {
    color: var(--clr_primary);

}

#hamburgerBtn {
    right: 3.5rem;
}

.hamburgerLinks {
    position: absolute;
    right: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 9rem;
    padding: 1rem;

    background: var(--clr_primary);
    list-style-type: none;
    transition: transform 1s;
    z-index: 2;
}

.animate-in {
    transform: translateY(0);
}

.animate-out {
    transform: translateY(-12rem);
}

.nav_link {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

.nav_decoration_container {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-column-gap: 1.5rem;
    gap: 1.5rem;
    left: 0;
    bottom: 0;
}

.nav_decoration:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-top: 0.75rem solid var(--clr_primary);
}

.page_marker {
    border-bottom: 2px solid white;
}

/*intro*/

.swiper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    color: white;
    -webkit-transform: translate3d(0, 0, 0);


}

.swiper-slide {
    position: relative;

}

.swiper-slide:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);

}

.swiperTextWrapper {
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 25%;
    right: 50%;
    bottom: 25%;
    left: 3rem;
    z-index: 1;

}

.swiperText {
    text-align: center;
    padding: 0;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    color: white;
    text-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.5);
}

.blueText {
    color: var(--clr_primary);
}

.swiperImage {
    position: relative;
    object-fit: fill;
    z-index: -1;
    display: block;
}

.whatsAppBtnLogo {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.whatsAppBtn {
    max-width: 10rem;
    display: flex;
    align-items: center;

    padding: 0.5rem;
    font-size: 1em;

    color: white;
    background-color: #1bd741;
    box-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;

    transition: ease-in-out 0.2s;
}

.whatsAppBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.whatsAppBtn a {
    color: white;
}

.section_intro h1 {
    font-size: 3rem;
}

.section_intro {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100vw;
}

.homePage:before {
    background-image: url("../source/headerSofa.jpeg");
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
}

.carpetPage:before {
    background-image: url("../source/headerCarpet.jpeg");
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
}

.sofaPage:before {
    background-image: url("../source/headerSofa.jpeg");
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
}

.mattressPage:before {
    background-image: url("../source/headerMatrass2.jpeg");
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
}

.chairPage:before {
    background-image: url("../source/headerChair.jpeg");
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
}

.steamPage:before {
    background-image: url("../source/headerSteam.jpeg");
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
}


.body-intro {
    background: linear-gradient(
            hsla(204, 98%, 0%, 0),
            hsla(204, 98%, 0%, 0.5) 60%,
            hsla(204, 98%, 0%, 0.9));
    position: relative;
    padding: 15rem 0 3rem 0;
    color: white;
    -webkit-transform: translate3d(0, 0, 0);
}

/*about us*/
.section_text {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
    background-color: white;
}

.container_text {
    margin: 1rem 0 1rem 0;
    border-left: 7.5px solid var(--clr_primary);
}

.container_text ul {
    line-height: 1.4rem;
    padding: 0.5rem 1rem 0.5rem 2rem;
    max-width: 80vw;
    list-style: none;
}

.liCheck {
    background: url("../source/check.png") no-repeat left top;
    height: 54px;
    padding-left: 44px;
    padding-top: 3px;
    list-style: none;
}


/*quote*/

.section_quote {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.container_quote {
    display: flex;
    position: relative;
    background-color: white;
    margin: 5rem 1rem 5rem 1rem;
    padding: 1rem;
    width: 24rem;
    border-radius: 10px;
    box-shadow: 0 .5rem 3rem -.25em rgba(0, 0, 0, 0.25);
}

blockquote {
    font-size: 1.1rem;

}

blockquote::before {
    font-family: "Arial Black";

    color: var(--clr_primary);
    position: absolute;
    margin-right: auto;
    content: open-quote;
    font-size: 4rem;
    opacity: 0.5;
    left: -0.5rem;
    top: -2.5rem;
}

blockquote::after {
    position: absolute;
    right: -0.5rem;
    bottom: -3.5rem;
    font-family: "Arial Black";
    color: var(--clr_primary);
    content: close-quote;
    font-size: 4rem;
    margin-left: 100px;
    opacity: 0.5;
}

/*prices*/
.section_prices {
    background-color: var(--clr_neutral100);

}

.container_prices {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.priceTitle {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
    width: 100%;
}

.priceAmount {
    position: relative;
    font-size: 4.5rem;
    /*margin-left: calc(50% - 4rem);*/
}

.priceAmount:before {
    position: absolute;
    content: '€';
    font-size: 2rem;
    top: 0.5rem;
    left: -1.5rem;
    right: 0;
    bottom: 0;
}


.priceAmount:after {
    position: absolute;
    content: 'V.a';
    font-size: 1.25rem;
    top: 3.5rem;
    left: -2rem;
    right: 0;
    bottom: 0;
}

.readMore {
    margin-top: 1rem;
    padding: 10px;
    color: white;
    background-color: var(--clr_primary);
    border: solid white 2px;
    transition: color ease-in-out 0.4s;
    transition: background-color ease-in-out 0.2s;
}


.readMore:hover {
    cursor: pointer;
    margin-top: 1rem;
    padding: 10px;
    color: var(--clr_primary);
    background-color: white;
    border: none;
}

.checkList {
    font-size: 0.75rem;
    padding-left: 1rem;
    margin-top: 1rem;
    list-style: none;
    font-family: "roboto";
}

.fa-check {
    font-size: 1rem;
}

.fa-times {
    font-size: 1.1rem;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 22.5rem;
    background-color: var(--clr_primary);
    margin: 2rem 10px 2rem 10px;
    z-index: 100;
    overflow-wrap: break-word;
    transition: ease-in-out 0.2s;
    border: 1px solid white;
    color: white;
}

.card:hover {
    transform: scale(1.05);
    /*color: var(--clr_primary);*/
}

.pseudo-hover {
    position: relative;
}

.pseudo-hover::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    box-shadow: 0 .5rem 3rem -.25em rgba(0, 0, 0, 0.25);
    transition: opacity 0.2s ease;
    border-radius: 10px;
    z-index: -1;
}

.pseudo-hover:hover::after {
    opacity: 1;

}

/*points*/

.gridLeft {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . .";
}

.gridRight {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . .";
}

.points {
    background-color: var(--clr_neutral100);
    display: flex;
    justify-content: center;
}

.container_points {
    padding-top: 2rem;
    margin-bottom: 2rem;
    max-width: 80vw;
}

.pointsText {
    color: white;
    max-height: 100%;
    background-color: var(--clr_primary);
}

.pointsPicture {
    object-fit: cover;
}

.pointsPicture2 {
    object-fit: cover;
}

.pointsPicture {
    display: none;
}

.pointsPicture2 {
    display: inline;
}

.pointsText h3 {
    padding: 0.5rem;
    background-color: white;
    color: black;
}


/*step section*/

.stepSection {
    background-color: var(--clr_neutral200);
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.stepWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.stepContainer {
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 5fr;
    gap: 0px 0px;
    grid-template-areas:
    "title image"
    "body image";
    margin: 3rem 2rem 3rem 2rem;

    width: 20rem;
    height: 18rem;

}

.stepImage {
    align-self: center;
    grid-area: image;
    margin: 1rem;
}

.stepNumber {
    position: absolute;
    top: -2rem;
    left: 42%;
    font-size: 3rem;
    display: inline;
    background-color: var(--clr_primary);
    color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    border: 4px solid white;
}

.stepTitle {
    font-size: 1.5rem;
    grid-area: title;
    padding-top: 2.5rem;
}

.stepBody {
    font-size: 1rem;
    grid-area: body;
}

.stepImage {
    box-shadow: 0 .5rem 3rem -.25em rgba(0, 0, 0, 0.5);
}


/*contact card*/
.section_contactCard {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: white;
}

.contact_card {
    width: 60rem;
    background-color: white;
    padding: 10px;
    margin: 2rem 10px 2rem 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
    box-shadow: 0 .5rem 3rem -.25em rgba(0, 0, 0, 0.25);
}

.profile_picture {
    max-width: 10rem;
    max-height: 13rem;
    object-fit: cover;

}

/*footer*/
footer {
    background: var(--clr_neutral800);
    bottom: 0;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
}

.footer_socials a {
    color: white;
}

.footer_socials {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 80vw;
    flex-direction: column;
}

.footer_links a {
    color: white;
    max-width: 80vw;
}

.footer_item {
    list-style: none;
    font-size: 0.8rem;
}

.logoFooter {
    padding-right: 10px;
    object-fit: cover;
    max-width: 7rem;
    max-height: 9.5rem;
}

@media only screen and (min-width: 700px) {
    .stepWrapper {
        flex-direction: row;
    }
    .section_swiper {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        padding: 2.5rem 0 2rem 0;

    }

    .swiper {
        max-width: 80vw;
    }
}

@media only screen and (max-width: 700px) {


    .swiperTextWrapper {
        top: 0;
        right: 30%;
        bottom: 0;
        left: 3rem;

    }

    .swiperText {
        font-size: 1rem;
    }

    .gridLeft {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
    "."
    ".";
    }

    .gridRight {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
    "."
    ".";
    }

    .pointsPicture {
        display: inline;
    }

    .pointsPicture2 {
        display: none;
    }

    .homePage:before {
        position: absolute;
    }

    .sofaPage:before {
        position: absolute;
    }

    .carpetPage:before {
        position: absolute;
    }

    .steamPage:before {
        position: absolute;
    }

    .mattressPage:before {
        position: absolute;
    }

    .chairPage:before {
        position: absolute;
    }


    .section_quote {
        flex-direction: column;
    }

    .container_quote {
        margin: 2rem 1rem 2rem 1rem;
        width: 20rem;
    }

    .body-intro {
        padding: 2rem 0;
    }

    .body-intro h1 {
        font-size: 2rem;
    }

}

@media only screen and (min-height: 1080px) {
    footer {
        margin-top: auto;
    }

    html {
        font-size: 32px;
    }

    .section_intro::before {
        max-height: 1140px;

    }
}